<div class="dart-container">
    <div class="dart">
        <div class="dart-core"></div>
        <div class="dart-wings-vertical"></div>
        <div class="dart-wings-horizontal"></div>
    </div>
    <div data-content="count">Count goes here</div>
    <div data-attr="class" data-attr-value="count">Class is dynamic</div>
    <label>
        Value is indexed:
        <input data-attr="value" data-attr-value="input[0]" />
    </label>
    <div data-if="count">should appear and disappear on true</div>
    <div data-if-not="count">should appear and disappear on false</div>
    <div data-list="list" data-template="some-template"></div>
    <div data-list="list2" data-template="some-other-template"></div>
    <div data-list="list" data-template="no-template"></div>
</div>

<template data-name="some-template">
    <div class="simple-template">placeholder</div>
</template>

<template data-name="some-other-template">
    <div>
        <div data-content="count">Count goes here</div>
        <div data-content="test">Count goes here</div>
        <input data-attr="value" data-attr-value="input[0]" />
    </div>
</template>
