/* TODO make all rem to percentages */

.dart-board-container {
    position: relative;
    width: 45.1rem;
    height: 45.1rem;
}

.blackboard {
    width: 45.1rem;
    height: 45.1rem;
    border-radius: 100%;
    background-color: black;
}

.inner-bull {
    position: absolute;
    top: calc(50% - (1.27rem / 2));
    left: calc(50% - (1.27rem / 2));
    width: 1.27rem;
    height: 1.27rem;
    border-radius: 100%;
    background-color: red;
}

.outer-bull {
    position: absolute;
    top: calc(50% - (3.2rem / 2));
    left: calc(50% - (3.2rem / 2));
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    background-color: green;
}

.single-in {
    position: absolute;
    top: calc(50% - (19.8rem / 2));
    left: calc(50% - (19.8rem / 2));
    width: 19.8rem;
    height: 19.8rem;
    border-radius: 100%;
    background-color: white;
    background: conic-gradient(
        from 9deg at center,
        white 0deg, white 17.99deg,
        black 18deg, black 35.99deg,
        white 36deg, white 53.99deg,
        black 54deg, black 71.99deg,
        white 72deg, white 89.99deg,
        black 90deg, black 107.99deg,
        white 108deg, white 125.99deg,
        black 126deg, black 143.99deg,
        white 144deg, white 161.99deg,
        black 162deg, black 179.99deg,
        white 180deg, white 197.99deg,
        black 198deg, black 215.99deg,
        white 216deg, white 233.99deg,
        black 234deg, black 251.99deg,
        white 252deg, white 269.99deg,
        black 270deg, black 287.99deg,
        white 288deg, white 305.99deg,
        black 306deg, black 323.99deg,
        white 324deg, white 341.99deg,
        black 342deg, black 359.99deg
    );
}

.double {
    position: absolute;
    top: calc(50% - (21.4rem / 2));
    left: calc(50% - (21.4rem / 2));
    width: 21.4rem;
    height: 21.4rem;
    border-radius: 100%;
    background-color: green;
    background: conic-gradient(
        from 9deg at center,
        green 0deg, green 17.99deg,
        red 18deg, red 35.99deg,
        green 36deg, green 53.99deg,
        red 54deg, red 71.99deg,
        green 72deg, green 89.99deg,
        red 90deg, red 107.99deg,
        green 108deg, green 125.99deg,
        red 126deg, red 143.99deg,
        green 144deg, green 161.99deg,
        red 162deg, red 179.99deg,
        green 180deg, green 197.99deg,
        red 198deg, red 215.99deg,
        green 216deg, green 233.99deg,
        red 234deg, red 251.99deg,
        green 252deg, green 269.99deg,
        red 270deg, red 287.99deg,
        green 288deg, green 305.99deg,
        red 306deg, red 323.99deg,
        green 324deg, green 341.99deg,
        red 342deg, red 359.99deg
    );
}

.single-out {
    position: absolute;
    top: calc(50% - (32.4rem / 2));
    left: calc(50% - (32.4rem / 2));
    width: 32.4rem;
    height: 32.4rem;
    border-radius: 100%;
    background-color: white;
    background: conic-gradient(
        from 9deg at center,
        white 0deg, white 17.99deg,
        black 18deg, black 35.99deg,
        white 36deg, white 53.99deg,
        black 54deg, black 71.99deg,
        white 72deg, white 89.99deg,
        black 90deg, black 107.99deg,
        white 108deg, white 125.99deg,
        black 126deg, black 143.99deg,
        white 144deg, white 161.99deg,
        black 162deg, black 179.99deg,
        white 180deg, white 197.99deg,
        black 198deg, black 215.99deg,
        white 216deg, white 233.99deg,
        black 234deg, black 251.99deg,
        white 252deg, white 269.99deg,
        black 270deg, black 287.99deg,
        white 288deg, white 305.99deg,
        black 306deg, black 323.99deg,
        white 324deg, white 341.99deg,
        black 342deg, black 359.99deg
    );
}

.triple {
    position: absolute;
    top: calc(50% - (34rem / 2));
    left: calc(50% - (34rem / 2));
    width: 34rem;
    height: 34rem;
    border-radius: 100%;
    background-color: black;
    background: conic-gradient(
        from 9deg at center,
        green 0deg, green 17.99deg,
        red 18deg, red 35.99deg,
        green 36deg, green 53.99deg,
        red 54deg, red 71.99deg,
        green 72deg, green 89.99deg,
        red 90deg, red 107.99deg,
        green 108deg, green 125.99deg,
        red 126deg, red 143.99deg,
        green 144deg, green 161.99deg,
        red 162deg, red 179.99deg,
        green 180deg, green 197.99deg,
        red 198deg, red 215.99deg,
        green 216deg, green 233.99deg,
        red 234deg, red 251.99deg,
        green 252deg, green 269.99deg,
        red 270deg, red 287.99deg,
        green 288deg, green 305.99deg,
        red 306deg, red 323.99deg,
        green 324deg, green 341.99deg,
        red 342deg, red 359.99deg
    );
}

